:host {
    width: 25%;
    text-align: left;
    @media (max-width: 1024px) { 
        width: 50%;
    }
    @media (max-width: 700px) { 
        width: 100%;
    }
    .launch-program-content {
        width: auto;
        min-height: 350px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        .img-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            img {
                width: 100%;
                max-height: 200px;
                object-fit: contain;
                background-color: #e8e8e8;
            }
        }
        .detail-container {
            display: flex;
            flex-direction: column;
            p {
                margin: 5px 0;
                &.launch {
                    font-size: 15px;
                    font-weight: bold;
                    span {
                        color: #504aa7;
                    }
                }
            }
            .mission-name {
                color: #4238d2;
                font-weight: 600;
            }
            .mission-ids {
                font-weight: 600;
            }
            ul {
                margin: 5px 0px;
                list-style: none;
                li {
                    position: relative;
                    color: #504aa7;
                    &::before {
                        content: "•";
                        color: #4238d2;
                        top: -5px;
                        font-size: 25px;
                        position: absolute;
                        left: -16px;
                    }
                }
            }
        }
    }
}